.addrSet {
  width: 70%;
  padding: 5%;
  margin-top: -25px;
}

.addrSetName {
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.addrbt {
  background-color: #afc672;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.addrbt:hover {
  background-color: #a1bb5b;
}

.addrbt + button {
  margin-left: 10px;
}

.addrBtCan {
  background-color: #afc672;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-left: 1.6%;
  width: 60%;
}

.addrBtCan:hover {
  background-color: #a1bb5b;
}

.addAddr {
  display: inline-block;
  padding: 10px 20px;
  background-color: #afc672;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.2s;
}

.addAddr:hover {
  background-color: #a1bb5b;
}
