.addrSet {
  width: 70%;
  padding: 5%;
  margin-top: -25px;
}

.addrSet form {
  display: grid;
  gap: 10px;
}

.addrSet form label {
  font-weight: bold;
}

.addrSet form input[type='text'] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 8px;
}

.addrSet form button {
  margin-top: 10px;
  padding: 10px 20px;
  background: #afc672;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addrSet form button:hover {
  background-color: #a1bb5b;
}

.addrBt {
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 20px;
  background: #afc672;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 180px;
  height: 50px;
}

.addrSet .inputCon {
  margin-bottom: 20px;
}

.addrSet .inputConAdd {
  margin-bottom: 20px;
  margin-top: -30px;
}

.inputCon select {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 8px;
}
