@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  background: linear-gradient(90deg, #555555, #000000, #555555, #aaaaaa);
  background-position: 100% 50%;
  -webkit-background-clip: text;
  transition-duration: 1000ms;
}

.gradient:hover {
  color: transparent;
}

/* 스크롤바 안 보이게 하기 */
::-webkit-scrollbar {
  display: none;
}

/* 헤더 상단에 고정 */
.sticky {
  position: sticky;
  top: 0;
  z-index: 20;
}

.header-color {
  background-color: #849360;
}

.bg-color {
  background-color: #f6f7f3;
}

.banner-color {
  background-color: #dfe3d4;
}

.btn-color1 {
  background-color: #d3e4a3;
}

.btn-color1:hover {
  background-color: #c9db99;
}

.btn-color2 {
  background-color: #afc672;
}

.btn-color2:hover {
  background-color: #a1bb5b;
}

.modal {
  min-height: 80dvh;
  min-width: 100dvh;
}

/* 공통 - 프로필 */
.myPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #dfe3d4;
}

.myPage::after {
  content: '';
  display: block;
  width: 85%;
  height: 2px; /* 줄의 높이 조정 */
  background-color: #849360; /* 회색 줄의 색상 */
  margin: 5px auto 15px auto; /* 원하는 간격으로 조정 */
}

.myPageH1 {
  margin: 50px 50px 50px 150px;
}

.profile {
  display: flex;
  align-items: center;
}

.basicProfile {
  margin: auto 50px 50px 150px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.nameCon {
  display: flex;
  align-items: center;
  margin-top: -50px;
  margin-left: 15px;
}

.editProfile {
  font-size: 16px;
  color: #666;
  margin: 22px auto auto 15px;
}

/* 공통 - 메뉴*/
.page {
  display: flex;
  width: 85%;
}

.myPageMenu {
  flex: 1;
  margin-left: 150px;
}

.menuMyInfo {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}

.menuShopInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
